*.class
.metadata
.gradle
**/bin/
**/target/
**/build/
**/tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
**/.settings/
**/.classpath
.loadpath
.DS_Store
**/*.cmd
**/mvnw
**/.mvn
**/.project

**/.idea/
**/*.iml
**/*.log
