## HOST MACHINE ENVIRONMENT VARIABLES

#export JAVA_HOME=/opt/jdk1.8.0_66
export GEMFIRE=/Users/nchandrappa/Documents/Gemfire_Preso/Pivotal_GemFire_820_b17919_Linux
export PATH=$PATH:$GEMFIRE/bin
#export GF_JAVA=$JAVA_HOME/bin/java
export CLASSPATH=$CLASSPATH:$JAVA_HOME/lib/tools.jar:$GEMFIRE/lib/server-dependencies.jar

## GEMFIRE CLUSTER START
export HOSTNAME=localhost
export LOCATOR_NAME=LOCATOR_$HOSTNAME
export LOCATOR_IP=$HOSTNAME
export SERVER_NAME=CACHE_SERVER_$HOSTNAME
